.ipi-plus{
    margin-right: 0.5em;
}

.ipi-country-input,
.ipi-phone-input{
    font-size: 20px;
    line-height: 1.3;
    padding: .1em .3em;
    border-color: transparent;
    border-bottom: 1px #777 solid;
    outline: none;
}

.ipi-country-input:focus,
.ipi-phone-input:focus{
    border-bottom-color: #4444fa;
}

.ipi-country-input{
    width: 3.1ch;
}

.ipi-phone-input{
    margin-left: 1em;
    width: 15ch;
}